<div class="works">
    <div class="works-container">
        <div class="works-title">Наши работы</div>

        <div class="works-slides-row">
            <div class="works-slides-column">
                <figure class="works-slide">
                    <img src="../../../assets/images/test/1.jpg" alt="" class="works-slide-pic">
                    <figcaption class="works-slide-text">Котик номер 1</figcaption>
                </figure>
            </div>

            <div class="works-slides-column">
                <figure class="works-slide">
                    <img src="../../../assets/images/test/2.jpg" alt="" class="works-slide-pic">
                    <figcaption class="works-slide-text">Котик номер 2</figcaption>
                </figure>
            </div>

            <div class="works-slides-column">
                <figure class="works-slide">
                    <img src="../../../assets/images/test/3.jpg" alt="" class="works-slide-pic">
                    <figcaption class="works-slide-text">Котик номер 3</figcaption>
                </figure>
            </div>

            <div class="works-slides-column">
                <figure class="works-slide">
                    <img src="../../../assets/images/test/4.jpg" alt="" class="works-slide-pic">
                    <figcaption class="works-slide-text">Котик номер 4</figcaption>
                </figure>
            </div>

            <div class="works-slides-column">
                <figure class="works-slide">
                    <img src="../../../assets/images/test/5.jpg" alt="" class="works-slide-pic">
                    <figcaption class="works-slide-text">Котик номер 5</figcaption>
                </figure>
            </div>

            <div class="works-slides-column">
                <figure class="works-slide">
                    <img src="../../../assets/images/test/6.jpg" alt="" class="works-slide-pic">
                    <figcaption class="works-slide-text">Котик номер 6</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>