<div class="works">
    <!---------------PopUp START--------------->
    <div *ngIf="deleteQuestion" class="popup">
        <div class="popup__wrapper">
            <div class="popup__text">Вы действительно хотите удалить товар?</div>
            <div class="popup__btn-wrapper">
                <button (click)="DeleteWorkImage()" class="popup__btn btn">ДА</button>
                <button (click)="deleteQuestion =false" class="popup__btn btn">НЕТ</button>
            </div>
        </div>
    </div>
    <!---------------PopUp END--------------->
    <!--- Admin-panel element start --->
    <div *ngIf="addMode" class="works-admin-form">
        <div class="works-admin-form__title">Добавить картинку</div>
        <img *ngIf="imgToUpload" [src]="imgToUpload" class="works-admin__preview-pic" alt="изображение не выбрано">
        <div class="works-admin__input-wrapper">
            <input id="upfile" (change)="HandleFileInput($event)" accept=".png,.jpg,jpeg" type="file" name="file"
                class="works-admin__pic-input">
            <label (click)="ClickOnInputTypeFile()" for="works-admin__pic-input" class="works-admin__pic-btn">
                <div class="input__file-button-text">Выберите файл</div>
            </label>
        </div>
        <div class="works-admin__btn-wrapper">
            <button (click)="UploadWorksImage()" class="works-admin__accept btn">ок</button>
            <button (click)="addMode=false; imgToUpload =undefined" class="works-admin__decline btn">отменить</button>
        </div>
    </div>
    <!--- Admin-panel element end --->
    <div *ngIf="!addMode" class="works-container">
        <div class="works-title">Наши работы</div>

        <!--- Admin-panel element start --->
        <button (click)="addMode =true" *ngIf="adminSessionService.isAuthorizated"
            class="works__add-pic btn-without-hover">Добавить фото</button>
        <!--- Admin-panel element end --->

        <div class="works-slides-row">
            <div *ngFor="let worksImage of worksImages" class="works-slides-column">
                <figure class="works-slide">

                    <!--- Admin-panel element start --->
                    <div *ngIf="adminSessionService.isAuthorizated" class="works__admin-wrapper">
                        <img (click)="deleteQuestion =true; deletedWorkImage =worksImage"
                            src="../../../assets/images/admin-close.svg" class="works__icon">
                    </div>
                    <!--- Admin-panel element end --->
                    <img src="{{ServerImagesUrl +'/worksImages/'+worksImage}}" alt="" class="works-slide-pic">
                </figure>
            </div>
        </div>
    </div>
</div>