/*---------- VARIABLES ----------*/

//---colors---
$mainColor: #ffffff;
$blackColor: #000000;
$blackSmokeColor: #343434;
$redColor: #c65f5f;

/*--------------------*/

.footer {
    width: 100%;
    height: 150px;
    background-color: $blackSmokeColor;
}
