<div class="about">
    <div class="container">
        <div class="about-wrapper">
            <div class="about__column">
                <div class="about__title">Памятники и надгробия
                    Харьков</div>
                <div class="about__text">Памятники и надгробия по доступным ценам</div>
                <button class="about__btn btn">заказать</button>
            </div>
            <div class="about__img-wrapper">
                <img src="../../../assets/images/about-pic.jpg" alt="" class="about__img">
            </div>
        </div>
    </div>
</div>
<div class="benefits">
    <div class="container">
        <div class="benefits__title">качество</div>
        <img src="../../../assets/images/benefits-pic.png" alt="" class="benefits__pic">
        <div class="benefits__column">
            <div class="benefits__row">
                <div class="benefits__text">Вся продукция изготавливается из выскококачественных износостойких
                    материалов.</div>
            </div>
            <div class="benefits__row">
                <div class="benefits__text">В нашей команде только профессионалы своего дела, имеющие солидный опыт в
                    своей сфере.</div>
            </div>
            <div class="benefits__row">
                <div class="benefits__text">Мы даем гарантию не только на наш товар, но и на проделанную работу!</div>
            </div>
        </div>
    </div>
</div>
<div class="contacts">
    <div class="container">
        <div class="contacts__title">контакты</div>

        <div class="socials">
            <div class="socials__column">
                <a href="https://www.instagram.com" class="socials__links" target="_blank">
                    https://www.instagram.com
                </a>
            </div>
            <div class="socials__column">
                <a href="https://www.telegram.com" class="socials__links" target="_blank">
                    https://www.telegram.com
                </a>
            </div>
            <div class="socials__column">
                <a href="https://www.viber.com" class="socials__links" target="_blank">
                    https://www.viber.com
                </a>
            </div>
            <div class="socials__column">
                <a href="tel:+380505005050" class="socials__links" target="_blank">
                    +380505005050
                </a>
            </div>
            <div class="socials__column">
                <a href="https://www.gmail.com" class="socials__links" target="_blank">
                    https://www.gmail.com
                </a>
            </div>
        </div>
        <div class="form-wrapper">
            <form action="" class="contacts-from">
                <input type="text" class="contacts-from__input-tel">
                <input type="text" class="contacts-from__input-name">
                <button class="contacts-form__btn btn" type="submit">заказать звонок</button>
            </form>
        </div>
    </div>
</div>