<!---------------PopUp START--------------->
<div class="popup">
    <div class="popup__wrapper">
        <div class="popup__text">Мы свяжемся с вами в ближайшее время.</div>

        <button class="popup__btn btn">ОК</button>
    </div>
</div>
<!---------------PopUp END--------------->

<!-------------------------------------------   ABOUT START   ----------------------------------------------------->

<div class="about" id="main-page">
    <div class="container">
        <div class="about__wrapper">
            <div class="about__text-block">
                <h1 class="about__title">
                    Памятники и надгробия Харьков
                </h1>
                <h2 class="about__subtitle">
                    Памятники и надгробия по доступным ценам
                </h2>
                <button class="about__btn btn">заказать</button>
            </div>
            <div class="about__pic-block">
                <img src="../../../assets/images/about-pic.png" alt="" class="about__pic">
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------   ABOUT END   ----------------------------------------------------->


<!-------------------------------------------   BENEFITS START   ----------------------------------------------------->
<div class="benefits">
    <div class="slider-block">
        <div class="slider-items">

            <!------------ SLIDER ITEM START ----------->
            <div class="slider-item">
                <div class="benefits__container">
                    <h2 class="benefits__title">
                        качество
                    </h2>

                    <div class="benefits__wrapper">
                        <div class="benefits__pic-block">
                            <img src="../../../assets/images/benefits-pic.png" alt="" class="benefits__pic">
                        </div>
                        <div class="benefits__text-row">
                            <div class="benefits__text-column">
                                <div class="benefits__large-circle">
                                    <div class="benefits__small-circle"></div>
                                </div>
                                <div class="benefits__text">Вся продукция изготавливается из выскококачественных
                                    износостойких
                                    материалов.</div>
                            </div>


                            <div class="benefits__text-column">
                                <div class="benefits__large-circle">
                                    <div class="benefits__small-circle"></div>
                                </div>
                                <div class="benefits__text">В нашей команде только профессионалы своего дела,
                                    имеющие солидный
                                    опыт
                                    в своей сфере.</div>
                            </div>


                            <div class="benefits__text-column">
                                <div class="benefits__large-circle">
                                    <div class="benefits__small-circle"></div>
                                </div>
                                <div class="benefits__text">Мы даем гарантию не только на наш товар, но и на
                                    проделанную
                                    работу!.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------ SLIDER ITEM END ----------->

            <!------------ SLIDER ITEM START ----------->
            <div class="slider-item">
                <div class="benefits__container">
                    <h2 class="benefits__title">
                        скорость
                    </h2>

                    <div class="benefits__wrapper">
                        <div class="benefits__pic-block">
                            <img src="../../../assets/images/benefits-pic.png" alt="" class="benefits__pic">
                        </div>
                        <div class="benefits__text-row">
                            <div class="benefits__text-column">
                                <div class="benefits__large-circle">
                                    <div class="benefits__small-circle"></div>
                                </div>
                                <div class="benefits__text">Вся продукция изготавливается из выскококачественных
                                    износостойких
                                    материалов.</div>
                            </div>


                            <div class="benefits__text-column">
                                <div class="benefits__large-circle">
                                    <div class="benefits__small-circle"></div>
                                </div>
                                <div class="benefits__text">В нашей команде только профессионалы своего дела,
                                    имеющие солидный
                                    опыт
                                    в своей сфере.</div>
                            </div>


                            <div class="benefits__text-column">
                                <div class="benefits__large-circle">
                                    <div class="benefits__small-circle"></div>
                                </div>
                                <div class="benefits__text">Мы даем гарантию не только на наш товар, но и на
                                    проделанную
                                    работу!.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------ SLIDER ITEM END ----------->
        </div>
    </div>
</div>
<!-------------------------------------------   BENEFITS END   ----------------------------------------------------->


<!-------------------------------------------   CONTACTS START   ----------------------------------------------------->
<div class="contacts" id="contacts-anchor">
    <div class="container">
        <h2 class="contacts__title">контакты</h2>
        <div class="contacts__wrapper">


            <div class="contacts__social">
                <div class="contacts__social-item">
                    <a href="www.instagram.com" class="contacts__social-link">
                        <img src="../../../assets/images/social/instagram.svg" alt="instagram"
                            class="contacts__social-pic">
                        <div class="contacts__social-text">www.instagram.com</div>
                    </a>
                </div>
                <div class="contacts__social-item">
                    <a href="www.telegram.com" class="contacts__social-link">
                        <img src="../../../assets/images/social/telegram.svg" alt="telegram"
                            class="contacts__social-pic">
                        <div class="contacts__social-text">www.telegram.com</div>
                    </a>
                </div>
                <div class="contacts__social-item">
                    <a href="www.viber.com" class="contacts__social-link">
                        <img src="../../../assets/images/social/viber.svg" alt="viber" class="contacts__social-pic">
                        <div class="contacts__social-text">www.viber.com</div>
                    </a>
                </div>

                <div class="contacts__social-item">
                    <a href="tel:+380501335756" class="contacts__social-link">
                        <img src="../../../assets/images/social/phone.svg" alt="telnumber" class="contacts__social-pic">
                        <div class="contacts__social-text">+380501335756</div>
                    </a>
                </div>
                <div class="contacts__social-item">
                    <a href="www.gmail.com" class="contacts__social-link">
                        <img src="../../../assets/images/social/gmail.svg" alt="gmail" class="contacts__social-pic">
                        <div class="contacts__social-text">sdhfghedg@gmail.com</div>
                    </a>
                </div>
            </div>

            <div action="" class="contacts__form">
                <input id="name" type="text" class="contacts__form-input" placeholder="ФИО">
                <input id="phone" type="tel" class="contacts__form-input" placeholder="Телефон">
                <button (click)="SendRecallMeMessage()" class="contacts__form-btn btn">перезвонить</button>
            </div>
        </div>
    </div>
</div>



<!-------------------------------------------   CONTACTS END   ----------------------------------------------------->