<div class="confirmation-page">
    <!---------------PopUp START--------------->
    <div *ngIf="isOrderSuccessed" class="popup">
        <div class="popup__wrapper">
            <div class="popup__text">Ваш заказ успешно оформлен!</div>
            <div class="popup__text">Мы свяжемся с вами в ближайшее время.</div>

            <button (click)="ClearOrder()" class="popup__btn btn">ОК</button>
        </div>
    </div>
    <!---------------PopUp END--------------->
    <div class="container">
        <div class="confirmation-page__wrapper">
            <div class="confirmation-page__products">
                <h2 class="confirmation-page__products-title">товары</h2>

                <div class="confirmation-page__products-block">

                    <div class="products-item" *ngFor="let product of orderService.order.tombs">
                        <img src="{{ServerImagesUrl +'/images/'+product.picture}}" alt="" class="products-item__pic">
                        <div class="products-item__text-wrapper">
                            <div class="products-item__title">{{product.name}}</div>
                            <div class="products-item__description">{{product.description}}</div>
                        </div>
                        <div class="products-item__price">{{product.price}}грн</div>
                        <div class="products-itmes__admin-wrapper">
                            <img (click)="orderService.DeleteTombById(product.id)"
                                src="../../../assets/images/admin-close.svg" class="products-items__icon">
                        </div>
                    </div>
                    <div class="products-item" *ngFor="let productWork of orderService.order.productWorks">
                        <img src="{{ServerImagesUrl +'/images/'+productWork.picture}}" alt=""
                            class="products-item__pic">
                        <div class="products-item__text-wrapper">
                            <div class="products-item__title">{{productWork.name}}</div>
                            <div class="products-item__description">{{productWork.description}}</div>
                        </div>
                        <div class="products-item__price">{{productWork.price}}грн</div>
                        <div class="products-itmes__admin-wrapper">
                            <img (click)="orderService.DeleteProductWorkById(productWork.id)"
                                src="../../../assets/images/admin-close.svg" class="products-items__icon">
                        </div>
                    </div>

                    <div class="confirmation-page__products-missing">
                        <div class="confirmation-page__products-missing-text">корзина пуста</div>
                        <button class="confirmation-page__products-missing-btn btn">Каталог товаров</button>
                    </div>
                </div>

                <div class="confirmation-page__products-price">СУММА: {{orderService.orderSum}}грн</div>
            </div>


            <div class="confirmation-page__contact">

                <h2 class="confirmation-page__contact-title">оформить заказ</h2>


                <input (change)="NameChanged($event)" type="text" class="confirmation-page__contact-input"
                    placeholder="ФИО">
                <input (change)="PhoneChanged($event)" type="text" class="confirmation-page__contact-input"
                    placeholder="Телефон">
                <textarea (change)="CommentChanged($event)" name="" class="confirmation-page__contact-textarea"
                    placeholder="Комментарий к заказу"></textarea>
                <button (click)="SendOrder()" class="confirmation-page__contact-btn btn">оформить заказ</button>
            </div>
        </div>
    </div>
</div>