<div class="info-page" id="info-page">
    <!---------------PopUp START--------------->
    <div *ngIf="isAddedToOrder" class="popup">
        <div class="popup__wrapper">
            <div class="popup__text">Товар успешно добавлен в корзину!</div>
            <div class="popup__btn-wrapper">
                <button (click)="isAddedToOrder=false" class="popup__btn btn">ОК</button>
                <button (click)="GoToOrder()" class="popup__btn btn">К заказу</button>
            </div>
        </div>
    </div>
    <!---------------PopUp END--------------->
    <div class="container">
        <div class="info-page__wrapper">
            <div class="info-page__product">
                <img *ngIf='currentProduct.picture' src="{{ServerImagesUrl +'/images/'+currentProduct.picture}}" alt=""
                    class="info-page__product-photo">
                <div class="info-page__product-price">{{currentProduct.price}} грн</div>
            </div>
            <div class="info-page__description">
                <h2 class="info-page__description-title">{{currentProduct.name}}</h2>
                <div class="info-page__description-container">
                    <div class="info-page__description-material"><span
                            class="info-page__description-material--bold">Материал: </span>{{currentProduct.material}}
                    </div>
                    <h3 class="info-page__description-subtitle">Описание</h3>
                    <div class="info-page__description-text">{{currentProduct.description}}</div>
                </div>
            </div>
        </div>
        <div class="info-page__buttons">
            <button (click)="AddToOrder()" class="info-page__btn btn">в корзину</button>
            <button (click)="GoBack()" class="info-page__btn btn">назад</button>
        </div>
    </div>
</div>