<!--- Admin-panel element start --->
<form action="" class="products-admin-form">
    <input type="text" placeholder="Название товара" class="products-admin__input">
    <input type="text" placeholder="Материал" class="products-admin__input">
    <textarea type="text" placeholder="Описание товара" class="products-admin__input"></textarea>
    <input type="text" placeholder="Цена" class="products-admin__input">
    <div class="products-admin__btn-wrapper">
        <button type="submit" class="products-admin__accept btn">ок</button>
        <button type="submit" class="products-admin__decline btn">отменить</button>
    </div>
</form>
<!--- Admin-panel element end --->
<div class="products">
    <div class="container">
        <div class="title products__title">каталог товаров</div>


        <div class="products-nav">

            <!--- Admin-panel element start --->
            <button class="products__add-product btn">новый продукт</button>
            <!--- Admin-panel element end --->

            <button id="sorting" (click)="SortingChanged()" class="btn products-nav__btn">Сначала дешёвые</button>

            <div class="products-nav__price">

                <div class="products-nav__price-text">Цена от:</div>
                <input id="priceFrom" (change)="PriceFromChanged()" type="text" class="products-nav__input">

                <div class="products-nav__price-text">до:</div>
                <input id="priceTo" (change)="PriceToChanged()" type="text" class="products-nav__input">
            </div>

            <div class="products-nav__search">

                <input id="searchInput" type="text" class="products-nav__search-input">
                <input (click)="SearchProducts()" class="products-nav__search-btn2" type="submit" value="">
            </div>
        </div>

        <div class="products__wrapper">
            <div class="products-filters">
                <div class="products-filters__title">фильтры</div>
                <div class="prducts-filters__item">
                    <div class="prducts-filters__item-name">Памятники гранитные</div>
                    <div class="prducts-filters__item-subname">Крутой гранит</div>
                    <div class="prducts-filters__item-subname">Не крутой гранит</div>
                </div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
                <div class="prducts-filters__item">Lorem, ipsum.</div>
            </div>
            <div *ngIf="initialProducts.length !== 0"
                [ngClass]="{'products-items':currentProducts.length > 0,'products-items2':currentProducts.length === 0}">
                <div *ngIf="currentProducts.length ===0" class="products-items__notFound">
                    <p class="products-items__notFound___text">По вашему запросу ничего не найдено</p>
                </div>
                <div class="products-item" *ngFor="let product of currentProducts">

                    <!--- Admin-panel element start --->
                    <div *ngIf="adminSessionService.isAuthorizated" class="products-itmes__admin-wrapper">
                        <img src="../../../assets/images/admin-edit.svg" class="products-items__icon">
                        <img (click)="AdminDeleteProduct(product.id)" src="../../../assets/images/admin-close.svg"
                            class="products-items__icon">
                    </div>
                    <!--- Admin-panel element end --->

                    <div class="products-item__wrapper-pic">
                        <img src="{{ServerImagesUrl +'/images/'+product.picture}}" class="products-item__pic">
                    </div>
                    <div class="products-item__title">{{product.name}}</div>
                    <div class="products-item__title">{{product.price}} грн</div>
                    <button class="btn products-item__btn" (click)="CurrentTomb(product.id)">Подробнее</button>
                </div>
            </div>
        </div>


        <div class="products-switcher">
            <button (click)="ChangePage(-1)" class="btn products-switcher__btn">&lt;</button>
            <div class="products-switcher__page-number-text">{{currentPage +"/" + pages}}</div>
            <button (click)="ChangePage(1)" class="btn products-switcher__btn">&gt;</button>
        </div>
    </div>
</div>