<div class="products">
    <!---------------PopUp START--------------->
    <div *ngIf="deleteQuestion" class="popup">
        <div class="popup__wrapper">
            <div class="popup__text">Вы действительно хотите удалить товар?</div>
            <div class="popup__btn-wrapper">
                <button (click)="AdminDeleteProduct()" class="popup__btn btn">ДА</button>
                <button (click)="deleteQuestion=false" class="popup__btn btn">НЕТ</button>
            </div>
        </div>
    </div>
    <!---------------PopUp END--------------->
    <!--- Admin-panel element start --->
    <div *ngIf="newItemMode || editMode" class="products-admin-form">
        <div *ngIf="showErrorAdminMode">
            <p class="products-admin__error___text">Все поля должны быть заполнены</p>
        </div>
        <input type="text" placeholder="Название товара" class="products-admin__input" [(ngModel)]="editedProduct.name">
        <img [src]="imgToUpload" class="products-admin__preview-pic">
        <div class="products-admin__input-wrapper">
            <input id="upfile" (change)="HandleFileInput($event)" accept=".png,.jpg,jpeg" type="file" name="file"
                class="products-admin__pic-input">
            <label (click)="ClickOnInputTypeFile()" for="products-admin__pic-input" class="products-admin__pic-btn">
                <div class="input__file-button-text">Выберите файл</div>
            </label>
        </div>
        <input id="material" type="text" placeholder="Материал" class="products-admin__input"
            [(ngModel)]="editedProduct.material">
        <textarea id="description" type="text" placeholder="Описание товара" class="products-admin__input"
            [(ngModel)]="editedProduct.description"></textarea>
        <input id="price" type="number" placeholder="Цена" class="products-admin__input" min="0" step="1" max="99999999"
            (keydown)="$event.keyCode == 188 ||$event.keyCode == 189 || $event.keyCode == 187 || $event.keyCode == 69 || $event.keyCode ==190 ? false : true"
            [(ngModel)]="editedProduct.price">
        <div class="products-admin__btn-wrapper">
            <button (click)="SaveItem()" class="products-admin__accept btn">ок</button>
            <button (click)="CancelAdminMode()" class="products-admin__decline btn">отменить</button>
        </div>
    </div>
    <!--- Admin-panel element end --->
    <div *ngIf="!newItemMode && !editMode" class="container">
        <div class="title products__title">каталог товаров</div>


        <div class="products-nav">

            <!--- Admin-panel element start --->
            <button (click)="GoToNewItemMode()" *ngIf="adminSessionService.isAuthorizated"
                class="products__add-product btn-without-hover">новый продукт</button>
            <!--- Admin-panel element end --->

            <button id="sorting" (click)="SortingChanged()" class="btn products-nav__btn">Сначала дешевые</button>

            <div class="products-nav__price">

                <div class="products-nav__price-text">Цена от:</div>
                <input id="priceFrom" (change)="PriceFromChanged()" type="text" class="products-nav__input">

                <div class="products-nav__price-text">до:</div>
                <input id="priceTo" (change)="PriceToChanged()" type="text" class="products-nav__input">
            </div>

            <div class="products-nav__search">

                <input id="searchInput" type="text" class="products-nav__search-input">
                <input (click)="SearchProducts()" class="products-nav__search-btn2" type="submit" value="">
            </div>
        </div>

        <div class="products__wrapper">
            <div class="products-filters">
                <div class="products-filters__title">фильтры</div>
                <div class="prducts-filters__item">Памятники гранитные одинарные</div>
                <div class="prducts-filters__item">Памятники гранитные двойные</div>
                <div class="prducts-filters__item">Мемориальные комплексы</div>
                <div class="prducts-filters__item">Эксклюзивные памятники из гранита</div>
                <div class="prducts-filters__item">
                    <div class="products__item-name">Гравировка и художественное оформление</div>
                    <div class="prducts-filters__item-subname">Лицевое</div>
                    <div class="prducts-filters__item-subname">Обратное</div>
                    <div class="prducts-filters__item-subname">Иконы</div>
                    <div class="prducts-filters__item-subname">Ангелы</div>
                    <div class="prducts-filters__item-subname">Храмы</div>
                    <div class="prducts-filters__item-subname">Природа</div>
                    <div class="prducts-filters__item-subname">Другое</div>
                </div>
                <div class="prducts-filters__item">Вазы, шары, лампады</div>
                <div class="prducts-filters__item">Фото в стекле</div>
            </div>
            <div *ngIf="initialProducts.length !== 0"
                [ngClass]="{'products-items':currentProducts.length > 0,'products-items2':currentProducts.length === 0}">
                <div *ngIf="currentProducts.length ===0" class="products-items__notFound">
                    <p class="products-items__notFound___text">По вашему запросу ничего не найдено</p>
                </div>
                <div class="products-item" *ngFor="let product of currentProducts">

                    <!--- Admin-panel element start --->
                    <div *ngIf="adminSessionService.isAuthorizated" class="products-itmes__admin-wrapper">
                        <img (click)="GoToEditMode(product)" src="../../../assets/images/admin-edit.svg"
                            class="products-items__icon">
                        <img (click)="deleteQuestion =true; deletedProductId =product.id"
                            src="../../../assets/images/admin-close.svg" class="products-items__icon">
                    </div>
                    <!--- Admin-panel element end --->

                    <div class="products-item__wrapper-pic">
                        <img src="{{ServerImagesUrl +'/images/'+product.picture}}" class="products-item__pic">
                    </div>
                    <div class="products-item__title">{{product.name}}</div>
                    <div class="products-item__title">{{product.price}} грн</div>
                    <button class="btn products-item__btn" (click)="CurrentTomb(product.id)">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="products-switcher">
            <button (click)="ChangePage(-1)" class="btn products-switcher__btn">&lt;</button>
            <div class="products-switcher__page-number-text">{{currentPage +"/" + pages}}</div>
            <button (click)="ChangePage(1)" class="btn products-switcher__btn">&gt;</button>
        </div>
    </div>
</div>