<div class="confirmation-page">
    <div class="container">
        <div class="confirmation-page__wrapper">
            <div class="confirmation-page__products">
                <h2 class="confirmation-page__products-title">товары</h2>

                <div class="confirmation-page__products-block">

                    <div class="products-item">
                        <img src="../../../assets/images/card-pic_1.png" alt="" class="products-item__pic">
                        <div class="products-item__text-wrapper">
                            <div class="products-item__title">Lorem, ipsum.</div>
                            <div class="products-item__description">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Commodi, suscipit.</div>
                        </div>
                        <div class="products-item__price">1488грн</div>
                    </div>
                    <div class="products-item">
                        <img src="../../../assets/images/card-pic_1.png" alt="" class="products-item__pic">
                        <div class="products-item__text-wrapper">
                            <div class="products-item__title">Lorem, ipsum.</div>
                            <div class="products-item__description">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Commodi, suscipit.</div>
                        </div>
                        <div class="products-item__price">1488грн</div>
                    </div>
                    <div class="products-item">
                        <img src="../../../assets/images/card-pic_1.png" alt="" class="products-item__pic">
                        <div class="products-item__text-wrapper">
                            <div class="products-item__title">Lorem, ipsum.</div>
                            <div class="products-item__description">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Commodi, suscipit.</div>
                        </div>
                        <div class="products-item__price">1488грн</div>
                    </div>
                    <div class="products-item">
                        <img src="../../../assets/images/card-pic_1.png" alt="" class="products-item__pic">
                        <div class="products-item__text-wrapper">
                            <div class="products-item__title">Lorem, ipsum.</div>
                            <div class="products-item__description">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Commodi, suscipit.</div>
                        </div>
                        <div class="products-item__price">1488грн</div>
                    </div>

                </div>

                <div class="confirmation-page__products-price">СУММА: 10323грн</div>
            </div>


            <div class="confirmation-page__contact">

                <h2 class="confirmation-page__contact-title">оформить заказ</h2>

                <form action="" class="confirmation-page__contact-form">
                    <input type="text" class="confirmation-page__contact-input">
                    <input type="text" class="confirmation-page__contact-input">
                    <textarea name="" class="confirmation-page__contact-textarea"></textarea>
                    <button type="submit" class="confirmation-page__contact-btn btn">оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>