<div class="services">
    <div class="container">
        <!--- Admin-panel element start --->
        <form action="" class="services-admin-form">
            <input type="text" placeholder="Название товара" class="services-admin__input">
            <textarea type="text" placeholder="Описание товара" class="services-admin__input"></textarea>
            <input type="text" placeholder="Цена" class="services-admin__input">
            <div class="services-admin__btn-wrapper">
                <button type="submit" class="services-admin__accept btn">ок</button>
                <button type="submit" class="services-admin__decline btn">отменить</button>
            </div>
        </form>
        <!--- Admin-panel element end --->
        <h1 class="services__title">услуги</h1>
        <!--- Admin-panel element start --->
        <button class="services__add-product btn">новый продукт</button>
        <!--- Admin-panel element end --->
        <div class="services__wrapper" *ngIf="productWorks.length > 0">
            <div class="services__item" *ngFor="let productWork of productWorks">
                <img src="{{ServerImagesUrl +'/images/'+productWork.picture}}" alt="" class="services__pic">
                <div class="text__block">
                    <h2 class="services__product-name">{{productWork.name}}</h2>
                    <div class="services__text">{{productWork.description}}</div>
                </div>
                <div class="price__block">
                    <div class="services__price">{{productWork.price}}грн</div>
                    <div (click)="AddToOrder(productWork)" class="services__btn btn">заказать</div>
                </div>
            </div>
        </div>
    </div>
</div>