<div class="services">
    <!---------------PopUp START--------------->
    <div *ngIf="deleteQuestion" class="popup">
        <div class="popup__wrapper">
            <div class="popup__text">Вы действительно хотите удалить товар?</div>
            <div class="popup__btn-wrapper">
                <button (click)="AdminDeleteProductWork()" class="popup__btn btn">ДА</button>
                <button (click)="deleteQuestion=false" class="popup__btn btn">НЕТ</button>
            </div>
        </div>
    </div>
    <!---------------PopUp END--------------->
    <!---------------PopUp START--------------->
    <div *ngIf="isAddedToOrder" class="popup">
        <div class="popup__wrapper">
            <div class="popup__text">Услуга успешно добавлена в корзину!</div>
            <div class="popup__btn-wrapper">
                <button (click)="isAddedToOrder=false" class="popup__btn btn">ОК</button>
                <button (click)="GoToOrder()" class="popup__btn btn">К заказу</button>
            </div>
        </div>
    </div>
    <!---------------PopUp END--------------->
    <!--- Admin-panel element start --->
    <div *ngIf="newItemMode || editMode" class="services-admin-form">
        <div *ngIf="showErrorAdminMode">
            <p class="services-admin__error___text">Все поля должны быть заполнены</p>
        </div>
        <input type="text" placeholder="Название товара" class="services-admin__input"
            [(ngModel)]="editedProductWork.name">
        <img [src]="imgToUpload" class="services-admin__preview-pic">
        <div class="services-admin__input-wrapper">
            <input id="upfile" (change)="HandleFileInput($event)" accept=".png,.jpg,jpeg" type="file" name="file"
                class="services-admin__pic-input">
            <label (click)="ClickOnInputTypeFile()" for="services-admin__pic-input" class="services-admin__pic-btn">
                <div class="input__file-button-text">Выберите файл</div>
            </label>
        </div>
        <textarea type="text" placeholder="Описание товара" class="services-admin__input"
            [(ngModel)]="editedProductWork.description"></textarea>
        <input type="text" placeholder="Цена" class="services-admin__input" [(ngModel)]="editedProductWork.price">
        <div class="services-admin__btn-wrapper">
            <button (click)="SaveItem()" class="services-admin__accept btn">ок</button>
            <button (click)="CancelAdminMode()" class="services-admin__decline btn">отменить</button>
        </div>
    </div>
    <!--- Admin-panel element end --->
    <div class="container">
        <h1 class="services__title">услуги</h1>
        <!--- Admin-panel element start --->
        <button (click)="GoToNewMode()" *ngIf="adminSessionService.isAuthorizated"
            class="services__add-product btn-without-hover">новая услуга</button>
        <!--- Admin-panel element end --->
        <div class="services__wrapper" *ngIf="productWorks.length > 0">

            <div class="services__item" *ngFor="let productWork of productWorks">
                <!--- Admin-panel element start --->
                <div *ngIf="adminSessionService.isAuthorizated" class="services__admin-wrapper">
                    <img src="../../../assets/images/admin-edit.svg" class="services-items__icon"
                        (click)="GoToEditMode(productWork)">
                    <img src="../../../assets/images/admin-close.svg" class="services-items__icon"
                        (click)="deleteQuestion =true; deletedProductWorkId =productWork.id">
                </div>
                <!--- Admin-panel element end --->
                <div class="services__item-wrapper">
                    <img src="{{ServerImagesUrl +'/images/'+productWork.picture}}" alt="" class="services__pic">
                    <div class="text__block">
                        <h2 class="services__product-name">{{productWork.name}}</h2>
                        <div class="services__text">{{productWork.description}}</div>
                    </div>
                    <div class="price__block">
                        <div class="services__price">{{productWork.price}}грн</div>
                        <div (click)="AddToOrder(productWork)" class="services__btn btn">заказать</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>