<div class="services">
    <div class="container">
        <!--- Admin-panel element start --->
        <form action="" class="services-admin-form">
            <input type="text" placeholder="Название товара" class="services-admin__input">
            <textarea type="text" placeholder="Описание товара" class="services-admin__input"></textarea>
            <input type="text" placeholder="Цена" class="services-admin__input">
            <div class="services-admin__btn-wrapper">
                <button type="submit" class="services-admin__accept btn">ок</button>
                <button type="submit" class="services-admin__decline btn">отменить</button>
            </div>
        </form>
        <!--- Admin-panel element end --->
        <h1 class="services__title">услуги</h1>
        <!--- Admin-panel element start --->
        <button class="services__add-product btn">новый продукт</button>
        <!--- Admin-panel element end --->
        <div class="services__wrapper">

            <div class="services__item">
                <img src="../../../assets/images/card-pic_1.png" alt="" class="services__pic">
                <div class="text__block">
                    <h2 class="services__product-name">lorem</h2>
                    <div class="services__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laborum
                        labore
                        sit eligendi adipisci saepe dolorum repudiandae. Quaerat, facere velit?</div>
                </div>
                <div class="price__block">
                    <div class="services__price">1422грн</div>
                    <div class="services__btn btn">заказать</div>
                </div>
            </div>

            <div class="services__item">
                <img src="../../../assets/images/card-pic_1.png" alt="" class="services__pic">
                <div class="text__block">
                    <h2 class="services__product-name">lorem</h2>
                    <div class="services__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laborum
                        labore
                        sit eligendi adipisci saepe dolorum repudiandae. Quaerat, facere velit?</div>
                </div>
                <div class="price__block">
                    <div class="services__price">1422грн</div>
                    <div class="services__btn btn">заказать</div>
                </div>
            </div>

            <div class="services__item">
                <img src="../../../assets/images/card-pic_1.png" alt="" class="services__pic">
                <div class="text__block">
                    <h2 class="services__product-name">lorem</h2>
                    <div class="services__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laborum
                        labore
                        sit eligendi adipisci saepe dolorum repudiandae. Quaerat, facere velit?</div>
                </div>
                <div class="price__block">
                    <div class="services__price">1422грн</div>
                    <div class="services__btn btn">заказать</div>
                </div>
            </div>

            <div class="services__item">
                <img src="../../../assets/images/card-pic_1.png" alt="" class="services__pic">
                <div class="text__block">
                    <h2 class="services__product-name">lorem</h2>
                    <div class="services__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laborum
                        labore
                        sit eligendi adipisci saepe dolorum repudiandae. Quaerat, facere velit?</div>
                </div>
                <div class="price__block">
                    <div class="services__price">1422грн</div>
                    <div class="services__btn btn">заказать</div>
                </div>
            </div>
        </div>
    </div>
</div>