/* You can add global styles to this file, and also import other style files */
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

/*---------- FONTS ----------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap");
/*--------------------*/

/*---------- VARIABLES ----------*/

//---colors---
$mainColor: #ffffff;
$blackColor: #000000;
$blackSmokeColor: #343434;
$redColor: #c65f5f;
$btnHoverColor: #ad4f4f;

/*--------------------*/
body {
    font-family: "Montserrat";
    padding-top: 100px;
    color: $mainColor;
}

a {
    color: $mainColor;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-transform: uppercase;
}
.btn {
    background-color: $redColor;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    color: $mainColor;
    border-radius: 25px;
}
.btn:hover {
    background-color: $btnHoverColor;
    transition: 0.7s;
    transform: scale(1.05);
}
